.dob-fields-group {
    margin-top: -1em;
    margin-bottom: 0.5em;
}

.dob-fields-group :nth-child(3) input {
    margin-right: 0;
    width: 10em;
}

div.dob-field {
    display: inline-block; 
    margin-top: 1em;
}

.dob-input {
    width: 6em; 
    margin-right: 2em;
}

.at-btn.at-btnb.button-disabled {
    background: #60a1cc;
}
