.dob-fields-group {
    margin-top: -1em;
    margin-bottom: 0.5em;
}

.dob-fields-group :nth-child(3) input {
    margin-right: 0;
    width: 7em;
}

div.dob-field {
    display: inline-block; 
    margin-top: 1em;
}

.dob-input {
    width: 5em; 
    margin-right: 2em;
    padding-right: 15px !important;
}

.at-btn.at-btnb.button-disabled {
    background: #60a1cc;
}
